body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
    font-family: 'Outfit', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    background-color: white;
    height: 3.5em;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 8px;
}
.search{
    flex-grow: 1;
    padding: 0 2em;
    
}
.search>input{
    all: unset;
    outline: none;
    border: 1px solid rgb(235, 229, 229);
    padding: 0.3em;
    margin: 0;
    border-radius: 8px;
    
}
.search>button{
    all: unset;
    outline: none;
    border: 1px solid rgb(235, 229, 229);
    padding: 0.3em;
    padding-left: none;
    margin: 0;
    border-radius: 8px;
}


.profile{
    display: flex;
    align-items: center;
    gap: 1.3em;
}

.profile > img{
    width: 2em;
}
.profile>h3{
    font-size: 0.9em;
    padding-right: 2em;
}

.profile>h3>span{
    font-weight: 400;
    font-size: 0.8em;
    opacity: 0.7;
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 0.65fr 2fr 4fr 1fr 2fr;
}

.sidebar{
    grid-area: 1/1/span 5/span 1;
    height: 100%;
    color: rgba(253, 253, 253, 0.92);
    background: rgb(143,135,139);
    background: linear-gradient(315deg, rgba(143,135,139,1) 0%, rgba(91,102,117,1) 100%);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.dashboard>ul{
    background-color: rgba(253, 253, 253, 0.1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.dashboard>h4{
    background-color: rgba(253, 253, 253, 0.2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sidebar>.dashboard>h4{
    margin: 0;
    padding: 0.8em;
    margin-bottom: 0.2em;
}

.dashboard{
    margin: 0 0.6em;
}

.sidebar>.dashboard>ul{
    padding-bottom: 0.6em;
    padding-top: 0.6em;
}
.sidebar>div>h4{
    padding: 0 1em;
    margin: 0.5em;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    font-size: 0.9em;
}
.sidebar>div>ul{
    margin: 0;
    margin-bottom: 1.3em;
    font-size: 1em;
    list-style: none;
}
.dashboard>ul>li{
    list-style: disc;
}
.sidebar>div>ul>li>i{
    width: 1.2em;
}
.sidebar>div>ul>li{
    padding: 0.21em 0;
}

.sidebar>.logo{
    padding-left: 0.8em;
    letter-spacing: 1px;
}
.app{
    margin: 0;
    margin-bottom: 1.3em;
}
.logo{
    display: flex;
    align-items: center;
    gap: 1.3em;
}

.cards{
    display: grid;
    grid-template: 1fr/repeat(4, 1fr);
    grid-area: 2/2/span 1/ span 1;
    place-items: center;
    margin: 1.8em 1em;
}

.big-cards{
    display: grid;
    grid-template: 1fr/ 2fr 1fr;
    grid-area: 3/2/span 1/span 1;
    place-items: center;
}

.small-cards{
    display: grid;
    grid-template: 1fr/repeat(3, 1fr);
    grid-area: 4/2/span 1/span 1;
    place-items: center;
}

.medium-cards{
    display: grid;
    grid-template: 1fr/2fr 1fr 1fr;
    grid-area: 5/2/span 1/span 1;
    place-items: center;
}

.card>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.card1, .card2, .card3, .card4{
    border-radius: 6px;
    padding: 0 1em;
    color: rgb(255,255,255,0.98);
    width: 13rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0;
}
.card1{
    background: rgb(60,100,219);
    background: linear-gradient(242deg, rgba(60,100,219,1) 0%, rgba(152,32,215,1) 100%);
}

.card2{
    background: rgb(60,219,84);
    background: linear-gradient(320deg, rgba(60,219,84,1) 0%, rgba(58,138,74,1) 100%);
}

.card3{
    background: rgb(231,157,114);
    background: linear-gradient(320deg, rgba(231,157,114,1) 0%, rgba(198,124,40,1) 100%);
}

.card4{
    background: rgb(231,157,114);
    background: linear-gradient(320deg, rgba(231,157,114,1) 0%, rgba(198,40,40,1) 100%);
}

progress {
    border-radius: 7px; 
    width: 100%;
    height: 3px;
    box-shadow: 1px 1px 4px rgba(7, 7, 7, 0.1);
  }
  progress::-webkit-progress-bar {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 7px;
  }
  progress::-webkit-progress-value {
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
  }
  progress::-moz-progress-bar {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 7px;
  }
  progress::-moz-progress-value {
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
  }

  .big-card2{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1em;
    border-radius: 12px;
  }
  
  .big-card2>div:nth-of-type(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sales{
    display: grid;
    grid-template: repeat(4, 1fr)/1fr;
  }

  .sales>div:nth-of-type(1), .sales>div:nth-of-type(2), .sales>div:nth-of-type(3), .sales>div:nth-of-type(4){
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
    border-bottom: 1px solid rgba(180, 166, 166, 0.4);
    width: 18rem;
    height: 1.8em;
  }
  .sales>div:nth-of-type(4){
    border: none;
  }

  .sales>div>div>i{
    font-size: 0.7em;
  }

  .piechart{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0.5em 0;
    padding: 0.5em;
    border: 1px solid rgb(179, 172, 172);
    border-radius: 50%;
    background-image: conic-gradient(
        rgb(231, 77, 71) 0 30deg, 
        rgb(64, 231, 48) 30deg 210deg, 
        rgb(230, 151, 4) 210deg 310deg,
        rgb(80, 207, 245) 310deg 30deg
    );
    width: 120px;
    height: 120px
  }

  .big-card2>div:first-child{
   height: 1.2em;
  }

  .red{
    color: rgb(231, 77, 71);
  }

  .green{
    color: rgb(64, 231, 48);
  }

  .blue{
    color: rgb(80, 207, 245);
  }
  .orange{
    color: rgb(230, 151, 4);
  }
  
  .inner-circle{
    position: relative;
    left: 0.9em;
    top: 0.9em;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: white;
  }